# ==========================================
# SERVER & DATABASE CONFIGURATION
# ==========================================
PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/ridify

# ==========================================
# APP SECURITY & ADMINS
# ==========================================
ADMIN_EMAILS=admin@example.com
